.container{
    background-color:#759ebb;
    width: 37rem;
    height: 9rem;
    left: 43rem;
    bottom: 24px;
    border-radius: 5px;
    margin-top: 10px;
}
.names{
    font-family: 'Times New Roman', Times, serif;
    font-size: 8px ;
    width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;              /* "overflow" value must be different from "visible" */
    text-overflow: ellipsis;
}